body {
    background-color: rgb(177, 170, 170);
    width: 1000px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
li{
    display: inline;    
}
a{
    padding: 15px;
}
.menu{
    padding: 35px;
    background-color: white;
}
#coler{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgb(252, 244, 229);
    display: inline;
}
#navbar{
    padding-left: 180px;
}
.greedynav{
    padding: 15px;
    background-color: slategrey;
    display: inline;
}